
body{
    background-color: #e5eaf0;
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 150px;
    border-radius: 50%;
    border-color: cyan;
    border-style:ridge;
    stroke-width: 5px;
    float: right;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 5%;
    image-rendering:optimizeQuality;

}

h1 {
    border: turquoise;
    border-style: dashed;
    color: blue;
    background-color: chartreuse;
    width: 250px;
    margin-left: 2%;
    text-decoration: none;


}

.fa-facebook {
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgb(9, 9, 160);
    color: white;
    margin-left: 2%;
}

p.about {
    border: rgb(68, 222, 248);
    margin: 2%;
    margin-right: 20%;
    border-width: 5px;
    padding: 50px;
    border-style:ridge;
    background: linear-gradient(90deg, rgb(32, 0, 126) 0%, rgb(230, 30, 182) 100%);
    font-weight: 12;
    color: white;
}

table,
th,
td {
    border: 1px solid rgb(3, 154, 255);
    text-align: center;
}

table {
    margin: 2%;
    width: 20%;
}

div.Buttons {
    margin-top: auto;
    color: chartreuse;
    background-color: rgb(0, 255, 8);
    border: 2px solid cyan;
    padding: 20px;
    position: relative;
    margin-top: 0%;

}

button {
    background: rgb(230, 30, 182);
    border: 2px solid #040404;
    padding: 10px 30px;
    text-align: center;
    box-shadow: 0 9px #999;
    margin-left: 2%;
}
